.Footer{
    background: #19B79A;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

.Footer img{
    vertical-align: middle;
}

.Footer a{
    color: white;
}

@media  screen and (max-width:767px){
    .Footer{
        display: block;
        text-align: center;
        padding: 10px;
    }

    .Footer p{
        margin: 0;
    }
}


